.container {
    width: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.26);
    height: 100vh;
    position: fixed;
}

.pop_up {
    width: 959px;
    margin: 3em auto;
    padding: 15px;
}

.pop_up_container {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 15px;
}

.pop_up_container .close {
    text-align: right;
}

.pop_up_content {
    width: 50%;
    float: left;
    padding: 15px 15px 15px 15px;

}

.pop_up_content h1 {
    font-family: Lato-Semibold;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    margin-block-start: 0em;
    letter-spacing: normal;
    text-align: left;
    color: #040222;
}

.pop_up_content .content {
    display: inline-flex;
    margin-top: 10px;
}

.pop_up_content .content img {
    margin-right: 20px;
}

.pop_up_content .content p {
    font-family: Lato-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #505050;
}

/* form */
.pop_up_form {
    width: 50%;
    float: right;
    padding: 15px;
    border-left: solid 1px #dedede;
}

.pop_up_form h3 {
    font-family: Lato-Medium;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #505050;

}

.pop_up_form .form_content {
    margin-bottom: 20px;
}

.pop_up_form .form_content label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #505050;
    font-family: nunito-Regular;
}

.pop_up_form .form_content input {
    width: 100%;
    border: solid 1px #797990;
    padding: 10px;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #505050;
}

.pop_up_form button {
    margin: 10px 21px 0 0;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    background-color: #2863eb;
    border: 1px solid #2863eb;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    font-family: Lato-Semibold;
}