.wrapper_signup{
    background-color: #f4f6f8;
    width: 100%;
    float: left;
    height: 100vh;
    display: table;
}
.main_signup{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.logo_title{
 
    margin-bottom: 1rem;
}
.signup_title{
    font-family:Inter-Medium;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.18;
    color: #211d1d;
    font-weight: 600;
}
.signup_area{
    width: 540px;
    padding: 30px;
    margin: 0 auto;
    background-color: #f4f6f8;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px 0px #ddd;  
    border-radius: 6px;
    height: 174px;
}
.signup_area p{
    padding: 44px;
    padding-top: 0px;
    font-family:Inter-Regular;
    font-size: 14px;
    color: #4a5057;
}




@media (min-width: 320px) and (max-width: 440px) {
   .signup_area{
       width: 100%;
   }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) and (max-width: 1280px) {

}