.settings {
    padding: 50px 0px 0px 0px;

}

.settings .padding {
    /* padding-left: 160px; */


}

.settings .header h2 {
    float: left;
    font-family: Inter-Medium;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    margin: 0px;
}

.settings .header h3 {
    float: right;
    font-family: Inter-Medium;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    margin: 0px;
}

.events_data {
    width: 100%;
    float: left;

}

.events p {
    font-family: Inter;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #4a5057;
}

.events_data table {
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    border-collapse: collapse;
    border-radius: 4px;
}

.events_data table thead tr th {
    padding: 13px 10px 13px 10px;
    width: 0%;
    font-family: Inter-Medium;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #4a5057;
    border-bottom: 1px solid #e3e3e3;
}

.events_data table thead tr th input {
    background-color: inherit;

}

.events_data table tbody {
    background-color: white;
}

.events_data table tbody tr td {
    padding: 13px 10px 13px 10px;
    word-break: break-all;
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    border-bottom: 1px solid #ecedef;
}

.events_data table tbody tr td p {
    margin-bottom: 3px;
}

/* events details */
.evtDetailMain{
    width: 100%;
    float: left;
}
.eventsDetail{
    width: 60%;
    float: left;
    background-color: #fff;
    border-radius:4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
   border: 1px solid #fff;
   margin-top:13px;
}
.eventsDetail table{
    border-spacing: 20px 20px;
    border-collapse: separate
}
.textArea{
    width: 100%;
    float: left;
    
    margin-top: 15px;
   
}
.codeEvent{
    width: 100%;
    border: 1px solid rgba(99, 115, 129, 0.15);
    outline: none;
    height: 300px;
    font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  resize: none;
  padding: 10px;
  border-radius: 2px;
  margin-top: 5px;
}
/* .eventData{
    width: 100%;
    float: left;
    margin-top: 25px
} */
.videoHeading{
    margin:0;
    font-family: Inter-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #6f7c8b;
}
.eventsDetail table tr td:nth-child(1){
    font-family: Inter-Regular;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #697077;
}

.eventsDetail table tr td:nth-child(2){
    font-family: Inter-Regular;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #445465;
}
.eventData h2,.textArea h2{
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}
/* logs */
.firstBox{
    width: 100%;
    float: left;
    margin-top: 4px;
}
.logTextArea{
  width: 100%;
  border: 1px solid rgba(99, 115, 129, 0.15);
  outline: none;
  height: 150px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  resize: none;
  padding: 10px;
  border-radius: 2px;
  margin-top: 5px;
}
