.search{
    width: 100%;
    float: left;
    margin-bottom: 1.5em;
}
.search img{
    width:21px;
    float: right;
    position: relative;
    top:1em;
    left: 11.8em;
}
.search input{
    float: right;
    width: 200px;
    height: 40px;
    padding: 10px 65px 10px 10px;
    margin: 5px 0px;
    border: 1px solid #8080804d;
    border-radius: 5px;
    outline: none;
}
.search .actions{
    padding: 9px;
    outline: none;
    font-family:Inter-Regular;
    color: #212b36;
    background-color: white;
    border: solid 1px rgba(99, 115, 129, 0.3);
    margin: 5px 0px;
    height: 40px;
}
.stream_table{
    width: 100%;
    float: left;
}
.stream_table table{
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    border-collapse: collapse;
}
.stream_table table thead tr th{
    text-align: left;
    padding: 5px 10px;
    color:  #212b36;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 600;
    word-break: break-all;
}
.stream_table table thead tr th input {
    background-color: inherit;
    
}

.stream_table table tbody{
    background-color: white;
}
.stream_table table tbody tr .check {
    text-align: center;
}
.stream_table table tbody tr td{
    padding: 5px 10px;
    word-break: break-all;
    color: #212b36;
    font-family: Inter-Regular;
    font-size: 14px;
    height: 3em;
    border-bottom: 1px solid #ecedef;
}
.stream_table table tbody .color_red td{
    color: red;
}
.mins img{
    padding-left: 2px;
    vertical-align: middle;
    padding-top: 0px;
}
.pts_background{
    display: inline;
}
.pts_background img{
    padding: 3px;
}
.pts_background:hover .error_alert{
    display: block;
}
.pts_background img:hover{
    background-color:#e8e8e8;
    border-radius: 50%;
}
.background img{
    padding: 5px;
}
.background img:hover{
    background-color: #e8e8e8;
    border-radius: 50%; 
    
}
.background:hover .error_alert{
    display: block;
}
.error_alert{
    width: 20em;
    color: black;
    border-radius: 2px;
    margin: 6px 0 0;
    padding: 10px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #d6d6d6;
    background-color: #fff;
    position:absolute;
    z-index: 99;
    display:none;
    text-align: left;
}
.pts img{
    padding-left: 2px;
    vertical-align: middle;
}
.stream_table table tbody .opacity td{
    color: #999;
}
.stream_table table tbody .color_yellow td{
    color: yellow;
}

.actionicons img{
    margin-right: 5px;
}