.settings {
    padding:40px 5% ;
    /* width: 87%;
    float: right;  */
 }
 .settings .padding{
     padding-left: 205px;
    
 }
 
.settings .header  h2{
     float: left;
     color: #212b36;
     font-family: Inter-Medium;
     font-size: 28px;
} 
/* .settings .header  h3{
     float: right;
     color: #212b36;
     font-family: Inter-Medium;
     font-size: 20px;
} */
.events_data{
    width: 100%;
    float: left;

}
.background_develepment{
    width: 100%;
    float: left;
    height: 60px;
    background-color: #eaeaea;
    padding-left: 205px;
}
.header_development{
    padding-left: 6%;;
}
.content_development{
    padding: 20px 5px 20px 0px ;
}
.content_development .store_icon_png{
    padding-right: 10px;
    position: relative;
    top: 3.2px
}
.content_development p{
    color: #196068;
    position: relative;
    bottom: 40px;
    left:30px;
    margin: 0;
    width: 90%;
}
.content_development p .select{
    background-color: #eaeaea;
    border: none;
    color: #196068;
    outline: none;
}
/*-----overview-----*/
.video_type_container{
    width: 100%;
    float: left;
    display: flex;
}
.encoded_video,.stored_video,.streamed_video {
    width: 33.3%;
    height: 20vh;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-color: #ffff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
}
.video_type_heading{
    color: #131523;
    margin: 0.3rem 0rem;
    font-family: Inter-Medium;
    font-size: 14px;
}
.viewers_details{
    width: 100%;
    float: left;
    margin: 15px 0px;
}
.totalViews{
    font-size: 20px;
    display: contents;
}
.watching_viewers{
    margin-left: 5px;
    vertical-align: bottom;
    color: #999;
}
.encoded_video,.stored_video{
    margin-right: 10px;
    border-radius: 4px;
}
.timeperiod{
    width: 100%;
    float: left;
    font-size: 10px;
    position: relative;
    margin-bottom: 0px;
    display: contents;
}
.timeperiod span{
    width: 50%;
    font-family: Inter-Regular;
    font-size: 12px;
    color: #7e84a3;
}
.video_type_content{
    width: 100%;
}
.video_type_content h5{
    font-size: 20px;
    font-family: Inter-SemiBold;
}
.real_time_views_container{
    width: 100%;
    float: left;
    background-color: #ffff;
    margin: 10px 10px 20px 0px;
    padding: 5px 15px;
    height: 50vh;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
}
.real_time_views_container,.countries_container,.devices_container .heading{
    color: black;
    /* margin: 0.3rem 0rem; */
}

.countries_devices_container{
    width: 100%;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.countries_container,.devices_container{
    height: 50vh;
    padding: 5px 15px;
    background-color: #ffff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);

}
.countries_container{
    width: 65%;
    float: left;
    margin-right: 10px;
}
.countries_heading{
    width: 100%;
    float: left;
}
.countries_heading h4{
    margin-bottom: 0px;
}
.countries_heading span{
    color: #999;
    font-size: 12px;
}
.devices_container{
    width: 35%;
    float: left;
}
.more_insights{
    width: 100%;
    float: left;
    text-align: end;
}
.more_insights a{
    color: #2863eb;
}
.doughnut_graph{
    width: 100%;
}
.doughnut_graph canvas{
    height: 42vh !important;
    width: 80% !important;
    margin-left: 10%;
}
.countries_map{
    width: 60%;
    height: 33vh;
    float: left;
}
.countries_table{
    width: 40%;
    height: 33vh;
    float: right;
}
.countries_table table{
    width: 100%;
    float: left;
}
.countries_table table{
    border-collapse: collapse;
}

.countries_table table thead{
    color: #999;
    font-weight: 400;
    border-bottom: 1px solid #99999930;
}
.countries_table table thead tr th{
    padding: 5px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;

}
.countries_table table{
    border-spacing: 0px;
}
.countries_table table tbody{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #99999930;
    border-collapse: collapse;
}
.countries_table table tbody tr td{
    padding: 5px;
    height: 45px;
    color: #212b36;
}
.countries_name{
    font-weight: 600;
}

/*----Metrics---------*/

.Metrics_heading{
    width: 100%;
    float: left;
}
.Metrics_heading h3{
    float: left;
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.views_cards{
    width: 100%;
    float: left;
    display: flex;
}
.cards_container{
    width: 25%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    height:8em;
    background-color: #ffff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
}
.cards_container h4{
    margin-top: 0px;
}
.totalViews,.UniqueViews{
    width: 100%;
    float: left;
}
.totalViews h5{
    font-size: 16px;
}
.UniqueViews h5{
    font-size: 16px;
}
.totalViews span{
    color: #999;
    font-size: 12px;
}
.UniqueViews span{
    color: #999;
    font-size: 12px;
}
.Countries_videos{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.countries,.metric_cards{
    height: 18em;
    background-color: #ffff;
}
.Countries_videos .countries{
    width: 60%;
    float: left;
    margin-right: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
}
.Countries_videos .metric_cards{
    width: 33%;
    height: 50vh;
    padding: 5px 15px;
    float: right;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
}
.graphs_container{
    width: 100%;
    float: left;
    display: flex;
    margin: 20px 0px;
}
.devices_card{
    width: 33%;
    height: 50vh;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    padding: 5px 15px;
   
}
.metric_cards h4,.devices_card h4,.player_card h4,.applications_card h4,.Os_views h4{
    color: #212b36;
    margin-bottom: 0px;
}
.metric_cards span,.devices_card span,.player_card span,.applications_card span,.Os_views span{
    color: #999;
    font-size: 12px;
}
.metric_cards canvas,.devices_card canvas,.player_card canvas,.applications_card canvas,.Os_views canvas{
    margin-top: 20px;
    height: 35vh !important;
}
.player_card,.applications_card{
    width: 33%;
    height: 50vh;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    padding: 5px 15px;
    margin-left: 10px;
}
.Os_views_card{
    width: 100%;
    float: left;
    display: flex;
    margin-bottom: 20px;
}
.Os_views{
    width: 33%;
    background-color: #fff;
    height: 50vh;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    padding: 5px 15px;
}