/*API Access Tokens*/

.wrapper_access_tokes .head p{
    width:57%;
    float:left; 
    color: #4a5057;
    font-size: 14px;
}
.wrapper_access_tokes .head a{
    text-decoration: underline;
}
.wrapper_access_tokes .head button{
    /* width: 15%; */
    float:right;
    color:  #2863eb;
    border:  1px solid #2863eb;
    border-radius: 3px;
    background-color: #f4f6f8;
    font-size: 14px;
    font-family: Inter-Medium;
    padding:5px 44px;
}
.wrapper_access_tokes .table{
    width: 100%;
    float:left;
    margin-top: 30px;
}
.wrapper_access_tokes .table table{
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    width: 100%;
    border-collapse: collapse;
    word-break: break-all;   
}

.wrapper_access_tokes .table table thead tr{
    height: 3em; 
}
.wrapper_access_tokes .table table thead tr th{
    text-align: left;
    padding:0px  18px;
    color:#212b36;
    font-family: Inter-Regular;
    font-size: 14px;
}

.wrapper_access_tokes .table table tbody{
    background-color: white;
}

.wrapper_access_tokes .table table tbody tr td{
    padding-left: 18px;
    color:#212b36;
    word-break: break-all;
    font-family: Inter-Regular;
    font-size: 14px;
}

.name{
    padding-bottom: 10px;
    /* margin-left:10px; */
}


.wrapper_access_tokes .table table tbody tr td .development{
    font-size: 16px;
    font-family: Inter-Regular;
    color: #212b36;
}
.wrapper_access_tokes .table table tbody tr td .tokens{
    font-size: 14px;
    font-family: Inter-Regular;
    color: #6e6e6e;
    /* margin-left: 10px; */
}
.wrapper_access_tokes .table table tbody tr td img{
    padding-left: 7px;
}
.save input{
    width: 50%;
    border: 1px solid rgba(99, 115, 129, 0.63);
    color: #212b36;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
    padding: 7px 5px;
    margin-bottom: 6px;
}
.wrapper_access_tokes .table table tbody tr td span{
    color:#212b36;
    font-size: 16px;
    font-family:Inter-Regular;
    /* margin-left: 10px; */
}
.wrapper_access_tokes .table table tbody tr td .border{
    border: 1px solid rgba(99, 115, 129, 0.63);
    color:#212b36;
    border-radius: 3px;
    padding:2px 5px 0px 2px;
    text-decoration: none;
    font-family: Inter-Regular;
    font-size: 16px;
}
.wrapper_access_tokes .table table tbody tr td .save{
    text-decoration: underline;
    margin-left: 10px;
    font-family: Inter-Regular;
    background-color: #fff;
    border: none;
    color: #2863eb;
}
.wrapper_access_tokes .table table tbody tr td a{
    color:  #2863eb;
    font-size: 14px;
    cursor: pointer;
}
.wrapper_access_tokes .table table tbody tr td tr{
    border:none;
    height: 3px;  
}
.wrapper_access_tokes .table table tbody tr{
    border-bottom:1px solid #ecedef;
    height: 6em;  
}

/*--------------media quries of access tokenks-------------*/
@media  screen and (max-width:1199px) {
    .wrapper_access_tokes .head button{
        padding: 4px;
    } 
}

@media screen and (max-width: 992px) {
    
    .wrapper_access_tokes .head p{
        width: 65%;
        float: left;
        color: #4a5057;
    }
    .wrapper_access_tokes .head button{
        padding:2px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper_access_tokes .head p{
        width: 65%;
        float: left;
        color: #4a5057;
    }
    .wrapper_access_tokes .head button{
        padding: 2px;
    }   
}