.videos_table {
    width: 100%;
    float: left;

}

.notFound {
    padding: 15px 10px 15px 10px;
    text-align: center;
}

.videos_table table {
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    border-collapse: collapse;
}

.videos_table table thead tr th {
    text-align: left;
    padding: 16px 12px;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #212b36;
    border-bottom: solid 1px #e3e3e3;
    /* word-break: break-all; */
}

.videos_table table thead tr th input {
    background-color: inherit;

}

.videos_table table tbody {
    background-color: white;
}

.videos_table table tbody tr .check {
    text-align: center;
}

.videos_table table tbody tr td {
    padding: 13px 10px;
    word-break: break-all;
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    height: 3em;
    border-bottom: 1px solid #ecedef;
}

.videodelivery {
    width: 100%;
    float: left;

}

.upload_btn_wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    color: #2863eb;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #2863eb;
    margin: 20px 20px 20px;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    cursor: pointer;
}

.upload_btn_wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload_file {
    border: 1px solid #fff;
    background-color: #fff;
    width: 100%;
    float: left;
    font-family: Inter-Regular;
}

.upload_file h2 {
    font-size: 16px;
    font-family: Inter-Regular;
    padding-right: 10px;
    margin: 20px;
}

.or {
    width: 100%;
    float: left;
    height: 20px;
    border-bottom: 1px solid #cecece;
}

.or_text span {
    color: #a7acb2;
    background-color: #f4f6f8;
    position: relative;
    bottom: 13px;
    left: 10%;
    padding: 0px 5px 0px 5px;
}

.post {
    background-color: #fff;
    width: 100%;
    float: left;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    /* padding-top: 15px; */
    border-radius: 4px;
}

.languge_img {
    vertical-align: middle;
    margin-right: 5px;
}

.model_btn {
    color: #212b36;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #9a9a9a;
    margin: 10px 0px 10px 15px;
    font-family: Inter-Regular;
    font-size: 14px;
    cursor: pointer;
}

.active {
    background-color: #f0f6ff;
    border: solid 1px #c2d1db;
}

.post h4,
.create_image h4 {
    margin: 15px 0px 8px 20px;
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;

}

.thumbnail_copy {
    font-size: 13px;
    border: solid 1px rgba(99, 115, 129, 0.3);
    font-family: Inter-Regular;
    margin: 0px 0px 28px 20px;
    background-color: #f7f7f7;
    padding: 10px;
    word-break: break-all;
    width: 94%;
    float: left;
    border-radius: 2px;
    position: relative;
}

.thumbnail_copy_link {
    width: 90%;
    float: left;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.copy_img {
    width: 10%;
    float: right;
}

.code {
    width: 100%;
    float: left;
    height: 200px;
    padding: 15px;

}

.codeApi {
    /* width: 100%;
    float: left; */
    padding: 15px;
    height: 200px;
    /* margin: 10px 15px; */
}

.code_input {
    padding: 10px;
    width: 100%;
    height: 200px;
    background-color: #f7f7f7;
    outline: none;
    border: 1px solid rgba(99, 115, 129, 0.15);
    resize: none;
    font-family: Inter;
    font-size: 12px;
    border-radius: 2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}


.copy_url p {
    font-size: 12px;
    font-family: Inter-Regular;
    margin-left: 20px;
    background-color: #f4f6f8;
    padding: 10px;
    margin-right: 20px;
}

.create_image {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    width: 100%;
    float: left;
    border-radius: 4px;
    /* margin-top: 10px; */

}

.create_image .editor_img {
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 93%;
}

.copy_img {
    width: 18px;
    float: right;
}

.copy_img img {
    vertical-align: -webkit-baseline-middle;
    padding-right: 5px;
    cursor: pointer;
}

.GIF_copy_img {
    width: 3%;
    float: right;
}

.model_label {
    width: calc(100% - 41px);
    float: left;
    margin: 10px 0px 4px 20px;
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
}

.model_input ::placeholder {
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #797979;
}

.model_input {
    width: 47%;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 10px 10px;
    outline: none;
    /* margin-left: 20px; */
    font-family: Inter-Regular;
    ;
    border: solid 1px #91a1af;
    background-color: #fff;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
}

/* .model_input::placeholder {
    color: #8798ac;
}
.model_input::-ms-input-placeholder{
    color: #8798ac;
} */
/* thumbnails */
.thumbnails h2,
.thumbnail_api h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
    margin-bottom: 10px;
}

.thumbnail_image {
    width: 50%;
    float: left;
}

.thumbnail_api {
    width: 48%;
    float: right;
}



/* subtitle */
.subtitles h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.subtitle_file {
    width: 48%;
    float: right;
}

.subtitle_file h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.upload_file_heading {
    font-family: Inter-Regular !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left !important;
    color: #212b36 !important;
}

.actionicons img {
    cursor: pointer;
}

.actionicons .download_img {
    margin-right: 15px;
}

/* .post span {
    commented for code editor
    font-family: Inter-Regular;
    font-size: 16px;
    margin-left: 20px;
} */

/* gifs */
.gif h2 {
    font-family: Inter-SemiBold;
    font-size: 18px;
}

.gif .time {
    width: 100%;
    float: left;
}


.git_video {
    width: 50%;
    float: left;
}

.gif_api {
    width: 48%;
    float: right;
}

.gif_api h2 {
    font-family: Inter-SemiBold;
    font-size: 18px;
}

.image_form {
    width: 100%;
    float: left;
    padding: 20px;

}

.image_form .model_label {
    margin-left: 0px;
}

.image_form_border {
    border-bottom: 0.8px solid #e3e2e2;
    float: left;
    width: 94%;
    margin: 0px auto;
    margin-left: 20px;
}

.image_form .create_btn button {
    text-transform: capitalize;
    margin-left: 0px !important;
    margin-bottom: 2px !important;
}

.time {
    width: 100%;
    float: left;
}

.imagewidth {
    width: 50%;
    float: left;
}

.time .model_label {
    margin-bottom: 9px;
}

.imagewidth .model_label,
.imageheight .model_label {
    margin-top: 23px;
    margin-bottom: 9px;
}

.imagewidth .model_input {
    width: 95%;
}

.imageheight .model_input {
    width: 100%;
}

.imageheight {
    width: 50%;
    float: right;
}

.thumbnail_copy_container {
    width: 100%;
    float: left;
}

/* .thumbnail_copy_container h4{
    margin-top: 15px;
    margin-bottom: 8px;
} */
.frame_per_second {
    width: 100%
}

.create_btn {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.create_btn .btn {
    /* width: 20%; */
    padding: 10px 20px;
}


/* overview */
.notVisble{
    display: none;
    transition: all 4s ease-out;
}
.visible{
    display: block;
    position: absolute;
    margin: -19px 0px 0px 15px;
    transition: all 6s ease-out;
}
.url_buttons {
    width: 100%;
    float: left;
}

.geturl {
    width: 55%;
    float: left;
}

.geturl p {
    font-family: Inter-Regular;
    background-color: #e2e2e2;
    word-break: break-all;
    border: solid 1px rgba(99, 115, 129, 0.3);
    border-radius: 2px;
    padding: 12.8px 10px 11.2px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #373f46;
}

.functional_buttons {
    float: right;
    display: flex;
    margin-bottom: 25px;
    font-size: 14px;
}

.functional_buttons button {
    color: #2863eb;
    border-color: #2863eb;
    border-radius: 4px;
    font-family: Inter-Medium;
    background-color: inherit;
    text-align: right;


}

.actions button,
.delete_stream button {
    border: solid 1px #9b9b9b;
    margin-left: 10px;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
    padding: 11.8px 17px 11.2px;
}

.actions,
.delete_stream {
    position: relative;
    float: left;
    font-family: Inter-Regular;
    font-size: 14px;
    color: #212b36;
    margin-left: 10px;
}

.actions button img,
.delete_stream button img {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    bottom: 2px
}

.actions button,
.delete_stream button {
    padding-left: 10px;
    font-size: 14px;
}

.asset_detials {
    width: 55%;
    float: left;
}

.asset_detials h2,
.video_urls h2,
.input_file h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.asset_detials_content {
    width: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    float: left;
    margin-top: 5px;
    height: 300px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.asset_detials_content .content_table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.asset_detials_content .content_table tbody tr {
    width: 100%;
    float: left;
}

.asset_detials_content .content_table tbody tr .title {
    width: 150px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #697077;
    font-family: Inter-Regular;

}

.asset_detials_content .content_table tbody tr .content {
    word-break: break-all;
    font-family: Inter;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #445465;
}

.asset_detials_content .content_table tbody tr td img {
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.playback {
    width: 43%;
    float: right;
}

.playback h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.playback_content {
    width: 100%;
    float: right;
    margin-top: 5px;
    position: relative;
    background-color: #606060;
}

.playback_content .playback_status {
    width: 100%;
    float: left;
}
.none{
    display: none;
}
.show{
    display: block;
}

.playback_content .playback_status button {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 74px;
    height: 25px;
    margin: 0 324px 151px 9px;
    padding: 5px 7px 5px 7px;
    border-radius: 2px;
    border: solid 1px #9b9b9b;
    font-family: Inter-Medium;
    font-size: 12px;
    color: #fff;
    background-color: inherit;
}

.playback_content .playback_status button .playback_inactive {
    position: absolute;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #767676;
}

.playback_content .playback_status button .playback_active {
    position: absolute;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f00;
}

.playback_content img {
    vertical-align: middle;
    width: 100%;
}

.playback .playback_action {
    width: 100%;
    float: left;
    margin: 10px 0px 0px 0px;
}

.playback .playback_action button {
    background-color: #2863eb;
    color: #fff;
    border-radius: 4px;
    padding: 11px 13px;
    font-size: 14px;
    font-family: Inter-Medium;
}

.video_urls {
    width: 100%;
    float: left;
    margin-top: 27px;
    margin-bottom: 10px;
}

.link_copy {
    width: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    float: left;
    margin-top: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.link_thumbnail h4,
.embed_thubnail h4,
.link_hls h4,
.link_video h4 {
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
}

.video_hls,
.embed_thubnail {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.link_video,
.link_embedcode {
    width: 47.8%;
    float: left;
    margin-left: 15px;
}

.link_hls,
.link_thumbnail {
    width: 47.8%;
    float: right;
    margin-right: 15px;
}

.link_video p,
.link_hls p,
.link_embedcode p,
.link_thumbnail p {
    word-break: break-all;
    font-size: 13px;
    font-weight: normal;
    font-family: Inter-Regular;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    width: 100%;
    float: left;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.copy_link {
    width: 100%;
    background-color: #f7f7f7;
    border: solid 1px rgba(99, 115, 129, 0.3);
    border-radius: 2px;
    font-size: 12px;
    font-family: Inter-Regular;
    padding: 10px;
    word-break: break-all;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copy_link_videoUrl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff !important;
    border-radius: 3px;

}

.copy_link_videoUrl p {
    margin-bottom: 0em;
}

.copy_link .link {
    width: 90%;
    float: left;
}

.copyInput {
    outline: none;
    border: none;
    width: 100%;
    background: none;
}

.copiedMsg {
    display: none;
    font-size: 12px;
    color: #cacaca;
    font-style: italic;
}

.copyMsg {
    position: absolute;
    right: 0px;
    bottom: 4.5em;
    display: none;
    font-size: 12px !important;
    color: #cacaca;
    font-style: italic;
}

.dispayInline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dispayInlineDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 69%;
    justify-content: space-between;

}

.tooltip {
    position: relative;
    top: 5px;
    right: 5px;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    /* background-color: #f4f6f8; */
    background-color: #fff;
    border: solid 1px rgba(99, 115, 129, 0.3);
    color: #4a5057;
}


/* .copy_link .copy_img{
    width: 8%;
    float: right;
    margin-top: 3%;
} */
/* .copy_img img{
    vertical-align: middle;
} */

.endtime .model_input {
    width: 90%;
}

.endtime {
    width: 50%;
    float: right;
}

.time_start {
    width: 50%;
    float: left;
}

.time_start .model_input {
    width: 95%;
}

.input_file {
    width: 100%;
    float: left;
    margin-top: 27px;
}



.media_info {
    border: 1px solid #fff;
    background-color: #fff;
    width: 100%;
    float: left;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    border-radius: 4px;
    margin-top: 5px;
}

.video_url {
    width: 68%;
    float: left;
    margin-left: 15px;
}

.Video_info {
    width: 100%;
    float: left;
}

.audioDiv {
    width: 100%;
    float: right;
    margin-top: 5px
}

.videoDiv {
    width: 100%;
    float: right;
    margin-top: 10px
}

.media_info p {
    /* padding: 5px; */
    word-break: break-all;
    font-size: 13px;
    font-weight: normal;
    font-family: Inter-Regular;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.media_info h4 {
    margin-left: 14px;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
}

.media_info table {
    border-collapse: collapse;
    width: calc(100% - 3%);
    border: solid 1px rgba(99, 115, 129, 0.3);
    margin: 10px 15px;
    border-radius: 2px;
}

.media_info table thead {
    background-color: #f4f6f8;
}

.media_info table thead tr {
    height: 4em;
    font-family: Inter-Medium;
    font-size: 14px;
}

.media_info table thead tr th {
    padding: 0px 0px 0px 12px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    font-family: Inter-Medium;
}

.media_info table tbody {
    background-color: white;
}

.media_info table tbody tr {
    height: 3.3em;
}

.media_info table tbody tr td {
    padding: 0px 0px 0px 12px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
}

.lastTh {
    padding-right: 180px !important;
}

.audioTh {
    padding-right: 180px !important;
}

/* videoclips*/
.videoclips {
    width: 100%;
    float: left;
}

.videoclips h2 {
    font-family: Inter-SemiBold;
    font-size: 18px;
}

.subtitles_list {
    width: 50%;
    float: left;
}

.subtitles_list_table {
    width: 100%;
}

.subtitles_list_table table {
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    border-collapse: collapse;
}

.subtitles_list_table table thead tr th {
    text-align: left;
    padding: 16px 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    border-bottom: 1px solid #ecedef;
}

.subtitles_list_table table thead tr {
    height: 48px;
}

.subtitles_list_table table tbody tr {
    height: 78px;
}

.subtitles_list_table table thead tr th input {
    background-color: inherit;

}

.subtitles_list_table table tbody {
    background-color: white;
}

.subtitles_list_table table tbody tr .check {
    text-align: center;
}

.subtitles_list_table table tbody tr td {
    padding: 23px 0px 23px 12px;
    word-break: break-all;
    color: #212b36;
    font-family: Inter-Regular;
    font-size: 13px;
    /* height: 3em; */
    border-bottom: 1px solid #ecedef;
    /* width:0%; */

}

.video_id,
.subtitle_id {
    width: 13em
}

/* .subtitles_list_table table tbody tr td:nth-child(3) {
    width: 36%;
} */

.videoclips table tbody tr td a {
    color: #2863eb;
    cursor: pointer;
}

.videoclips h2 {
    padding-bottom: 8px;
    font-family: Inter-Medium;

    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.create_videoclips {
    width: 48%;
    float: right;
    margin-bottom: 20px;
}

.video_editor_content {
    width: 100%;
    float: left;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.video_editor_player {
    width: 100%;
    padding: 15px;
}

.video_editor_player img {
    width: 100%;
    height: 300px;
    margin: 10px;
}

.start_end_time {
    width: 100%;
    float: left;
    margin: 10px;
}

.start_time {
    width: 50%;
    float: left;
}

.start_time h5,
.end_time h5 {
    font-family: Inter-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
}

.start_time input,
.end_time input {
    border-radius: 2px;
    border: solid 1px #91a1af;
    background-color: #fff;
    padding: 13px 14px;
    font-family: Inter;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    width: 94%;
    outline: none;
}

.end_time {
    width: 50%;
    float: right;
}


.create_video_clip_button {
    width: 100%;
    float: left;
    margin: 15px 10px 10px 10px;
}

.create_video_clip_button button {
    padding: 12px 18px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #2863eb;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #2863eb;
    cursor: pointer;
}




/* others */
.others_content {
    width: 100%;
    float: left;
}

.title_description {
    width: 49%;
    float: left;

}

.title_description h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;

}

.title_description_box {
    border-radius: 2px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);

}

.title_input {
    width: calc(100% - 40px);
    border-radius: 2px;
    padding: 12px;
    outline: none;
    margin-left: 20px;
    font-family: Inter-Regular;
    color: #212b36;
    border: solid 1px rgba(99, 115, 129, 0.3);
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
}

.validate {
    margin-left: 21px;
}

.title_input ::placeholder {
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #797979;
}

.description_input {
    width: calc(100% - 40px);
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 12px;
    padding-bottom: 12.3em;
    outline: none;
    margin-left: 20px;
    /* margin-bottom: 10px; */
    font-family: Inter-Regular;
    color: #212b36;
    border: solid 1px rgba(99, 115, 129, 0.3);
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
}

.description_input::placeholder {
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #797979;
}

.tags_metadata {
    width: 49%;
    float: right;

}

.tags_metadata h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.tags_metadata_box {
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);

}

.tags {
    width: calc(100% - 30px);
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 5px 10px;
    outline: none;
    margin-left: 20px;
    border: solid 1px rgba(99, 115, 129, 0.3);
    float: left;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
}

.tagItem {
    background-color: #ededed;
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: 2px;
}

.tagItem .close {
    height: 20px;
    width: 20px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    font-size: 18px;
    cursor: pointer;
}

.tags_input {
    flex-grow: 1;
    padding: 0.5em;
    border: none;
    outline: none;
}

/* 
.tags div{
    display: contents;
}
.tags span{
    background-color: #ededed;
    color: #212b36;
    padding: 3px;
    margin-right: 5px;
}
.tags h4{
    float: left;
    padding: 5px;
    border-radius: 2px;
    background-color: #ededed;
    margin-right: 5px;
}
.close_img{
    padding-left: 20px;
    width: 10px;
    height: 10px;
    color: #aaaaaa;
} */
.others_input {
    width: 50%;
    height: 30px;
    padding: 3px;
    outline: none;
    margin-left: 10px;
    font-family: Inter-Regular;
    color: #212b36;
    border: none;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
}

.others_input::placeholder {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #797979;
}

.tags_metadata_box table {
    /* width: 93%; */
    width: calc(100% - 30px);
    border: solid 1px rgba(99, 115, 129, 0.3);
    margin: 5px 20px;
    border-collapse: collapse;
}

.tags_metadata_box table thead tr {
    height: 3em;
    font-family: Inter-Medium;
    font-size: 14px;
}

.tags_metadata_box table thead tr th {
    width: 50%;
    text-align: left;
    padding: 0px 5px;
    color: #797979;
    font-size: 14px;
    border: 1px solid #b2b2b2;
    font-family: Inter-Regular;
}

.add_button {
    float: right;
    background-color: #fff;
    border: 1px solid #7e7e7e;
    font-family: Inter-Medium;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
}

.errFields {
    display: flex;
}

.value {
    margin-left: 0px;
}

.submit {
    width: 100%;
    margin-left: 20px;
}

.others_submit_btn {
    background-color: #fff;
    color: #2863eb;
    border: 1px solid #2863eb;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: Inter-Medium;
}

.tags_metadata_box table tbody {
    background-color: white;
}

.tags_metadata_box table tbody tr {
    height: 3em;

}

.tags_metadata_box table tbody tr td {
    padding: 0px 10px;
    font-family: Inter-Medium;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #697077;
}

.metadata_key {
    border-bottom: solid 1px #ecedef;
}

.metadata_value {
    border-left: solid 1px #ecedef;
    border-bottom: solid 1px #ecedef;
}

.tagErr {
    width: 100%;
    float: left;
    margin-left: 21px
}

.table_body {
    color: #445465 !important;
    font-family: Inter-Medium !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.comma_after_tag {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #707070;
    font-family: Inter-Regular;
}

.image_guickpreview_poster {
    width: 100%;
    float: left;
}

.image_poster {
    width: 49%;
    float: left;

}

.image_poster h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.image_poster_box {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.image_layer {
    width: 150px;
    height: 80px;
    margin: 10px;

}

.image_layer1 {
    width: 120px;
    height: 70px;
    margin: 10px 10px 20px;

}

.image_layer2 {
    width: 100px;
    height: 60px;
    margin: 10px 10px 30px;

}

.upload_image_btn {
    font-family: Inter-Medium;
    margin: 10px;
    background-color: #fff;

}

.upload_btn {
    color: #2863eb;
    border: 1px solid #2863eb;
    background-color: #fff;
    font-weight: 500;
    padding: 10px 8px;
    border-radius: 4px;
    font-size: Inter-medium;
    font-size: 14px;
}

.quickpreview_poster {
    width: 49%;
    float: right;

}

.quickpreview_poster h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.quickpreview_poster_box {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.controls {
    width: 49%;
    float: left;
    margin-bottom: 20px;

}

.controls h2 {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6f7c8b;
}

.controls_box {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.controls_box h4 {
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #212b36;
    margin-left: 15px;

}

.controls_box .seek_bar {
    border-bottom: solid 1px #ecedef;
}

.controls_box p {
    font-family: Inter-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #69737e;
    margin: 9px 20px 20px 15px;


}

.input {
    position: relative;
    width: 20px;
    height: 10px;
    -webkit-appearance: none;
    background: grey;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;
    float: right;
    margin-right: 20px;

}

.input:checked {
    background-color: #03a9f4;
}

.input::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.input:checked::before {
    left: 10px;
}

/* ----------------------------------------live recording-------------------------------- */
.recordingplayer_action {
    width: 100%;
    float: left;
    text-align: right;
}

.recordingplayer_action .recordingPlayer_start {
    border: 1px solid #016fde;
    color: #fff;
    background-color: #016fde;
}

.recordingplayer_action .recordingPlayer_start span {
    position: relative;
    bottom: 1px;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 500;
}

.recordingplayer_action .recordingPlayer_stop {
    border: 1px solid #016fde;
    color: #016fde;
    background-color: inherit;
}

.recordingplayer_action .recordingPlayer_stop span {
    position: relative;
    bottom: 1px;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 500;
}

/* media */
@media screen and (max-width: 991px) {
    .functional_buttons {
        float: none;
    }

    .link_video,
    .link_embedcode {
        width: 45.8%;
        float: left;
        margin-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .title_description,
    .tags_metadata,
    .image_poster,
    .quickpreview_poster,
    .controls {
        width: 100%;
    }

    .gif .git_video,
    .gif .gif_api {
        width: 100%;
    }

    .subtitles .videos_table {
        width: 100%;
    }

    .subtitles .subtitle_file {
        width: 100%;
        margin-top: 10px;
    }

    .thumbnails .thumbnail_image {
        width: 100%;
    }

    .thumbnails .thumbnail_api {
        width: 100%;
        margin-top: 10px;
    }

    .videoclips .videos_table {
        width: 100%;
    }

    .playback {
        width: 100%;
    }

    .asset_detials {
        width: 100%;
    }

    .create_videoclips {
        width: 100%;
    }

    .subtitles_list {
        width: 100%;
    }

}

@media (min-width: 1024px) and (max-width: 1208px) {
    .image_layer {
        width: 130px;
        height: 80px;
        margin: 10px;

    }

    .image_layer1 {
        width: 110px;
        height: 70px;
        margin: 10px 10px 20px;

    }

    .image_layer2 {
        width: 90px;
        height: 60px;
        margin: 10px 10px 30px;

    }
}