.model{
    background-color:#000000a9;
    width:100%;
    height: 100vh;
    float: left;
    display: table;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    opacity: .99;
}
.model_main{
    width: 517px;
    margin:  auto ;
    background-color: #f4f6f8;
    border:1px solid #ddd;
    border-radius: 6px;
    display: block;
    margin-top: 222px;   
}
.model_nav{
    float: left;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    width: 100%;
}

.model_title{
    margin: 15px;
    font-size: 22px;
    float: left;
    color: #212b36;
    font-family:Inter-Medium;

}
.model_close{
   color: #d1d1d1; 
   /* padding: 14px; */
  cursor: pointer;
  float: right;
  }
.model_label{
    width:calc(100% - 41px);
    float:left;
    margin:10px 0px 10px 20px;
    font-size: 16px;
    font-family:Inter-Regular;
     color: #212b36;
}
.model_input{
    width:calc(100% - 40px);
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    padding: 5px;
    outline: none;
    margin-left: 20px;
     font-family:Inter-Regular;
    color: #212b36;
    border: solid 1px rgba(99, 115, 129, 0.3);
}
.model_input:focus{
    border-color: #2863eb;
}
.model_input::placeholder {
    color: #8798ac;
}
.model_input::-ms-input-placeholder{
    color: #8798ac;
}
.model_selection{
    width:calc(100% - 40px);
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    padding: 9px;
    outline: none;
    font-family:Inter-Regular;
    color: #212b36;
    margin-left: 20px;
    background-color: white;
    border: solid 1px rgba(99, 115, 129, 0.3);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    

}
.model_btn{
    float: initial;
    text-align: right;
    margin: 10px;
    font-family: OpenSans-SemiBold;
}

.model_canel_btn{
    
    border: 1px solid #9b9b9b;
    background-color:#f4f6f8; 
    color:#212b36;
    margin: 8px 10px 15px 10px;
    font-weight: 600;
  }


.model_save_btn{
 
 margin: 8px 10px 15px 10px;
 color:#fff;
 font-weight: 600;
 font-family: OpenSans-SemiBold;
}


.model_removeuser{
    text-align: center;
    width: 100%;
    float: left;
}
.model_data{
  
    margin: 10px 10px;
    font-family:Inter-Regular;
    font-size: 15px;
    color:#4e5257;
    line-height: 1.25;
    padding: 0px 4em 0px 4em;
 

}
.remove_user_modal .model_btn{
    float: initial;
    text-align: center;
        
}

.remove_user_modal h4{
    font-family: Inter-Medium;
    color: #212b36;
    font-size: 16px;
    
}


.editpaymentdetials .model_nav, .accesstoken_model .model_nav , .signingkey .model_nav , .newwebhook_model .model_nav,
.newkey .model_nav , .newtoken .model_nav , .unlockpremiumfeatures .model_nav,.newstream .model_nav{
    border: none;
}


.editpaymentdetials .body,.accesstoken_model .body, .newtoken .body,
.signingkey .body,.newwebhook_model .body,.newkey .body,.unlockpremiumfeatures .body,.newstream .body{
    background-color:#f4f6f8;
    height:100vh ;
    border: 1px solid whitesmoke;
   width:100%;
   display: table;
   position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    
   
}
.editpaymentdetials .main{
    width: 400px;
    border: none;
    margin: auto;
    
}
.editpaymentdetials .cerditcard_number{
    position: relative;
    width: 100%;
    float: left;
    font-family: Inter-Regular;
    font-size: 14px;
    color: #212b36;

}

 .editpaymentdetials .file{
    margin-top: -27px;
    position: absolute;
    left: 0;
    padding-left: 27px;
}

.editpaymentdetials .model_input:first-child{
   padding-left: 30px;
}

.editpaymentdetials .expiration_date{
width: 50%;
float: left;
}
.card .cvv{
    width: 50%;
    float: right;
}
.editpaymentdetials .detials{
    width: 50%;
    float:left;   

}
.editpaymentdetials .state{
    width: 50%;
   float: right;

}
.editpaymentdetials p{
    width: 100%;
    float: left;
    font-size: 10px;
    margin-left: 20px;
    padding-right: 25px;
}

.editpaymentdetials hr{
    width: 90%;
}

.paymenthistory .model_main{
    margin-top: 148px;
}
.paymenthistory .table {
    width: 100;
    background:white; 
    border:0; 
    border-spacing:0 5px;
    /* margin-left: 10px;
    padding-left: 10px;
    padding: 8px; */
}
.paymenthistory thead tr{
    text-align: left;
    font-family:Inter-Medium;
    color: #212b36;
    font-size: 14px;
}   
.paymenthistory tbody tr td{
    border-top: 1px solid #f4f6f8 ;
    text-align: left;
    border-spacing:5px 5px;
    color: #56606e;
    font-family: Inter-Regular;
    }   
     
.paymenthistory .model_btn{
    float: initial;
    text-align: center;
    
}
.accesstoken_model .main{
    width: 500px;
    border: none;
    margin: 100px auto;
}
.accesstoken_model .model_input{
    margin-right: 20px;
}
.access_token_link{
    font-size: 14px;
    font-family: Inter-Regular;
    color:#4a5057;
}
.access_token_data{
    text-decoration: underline;
    font-family: Inter-Regular;
}
.access_token_permission,.access_token_link{
    margin-left: 20px;
    color: #444; 
}
.access_token_checkbox{

    float: left;
    font-family:Inter-Medium;
    margin-left: 20px;
    color: #444;
    font-size: 14px;
}
.accesstoken_model .read, .write{
 margin-left: 20px;
}
.access_token{
    float: left;
    width: 100%;
}
.newtoken .main ,.signingkey .main{
    width: 500px;
    border: none;
    margin: 100px auto;
    
}
.newtoken .model_title , .signingkey .model_title{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.18;
    color: #212b36;

}
.newtoken .model_label , .signingkey .model_label{
    margin-left: 12px;
}
    

.newtoken .access_token_data {
    margin-left: 13px;
}
.newtoken .model_input {
    overflow: scroll;
    width:calc(100% - 45px); 
    margin-left: 12px;
}
.signingkey .model_input{
    overflow: scroll;
    width:calc(100% - 45px); 
    margin-left: 12px;
}

.newtoken p,.signingkey p{
    float: left;
    margin-left: 13px;
    padding: 5px;
    margin-bottom: 5px;
    font-family:Inter-Regular;
    color: #4a5057;
    font-size: 14px;
}

.signingkey .downloadpem , .newtoken .downloadpem{
    margin-top: 10px;
    margin-left: 13px;
    text-decoration: underline;
    color: #2863eb;
    font-family:'Inter-Regular';
}

.newtoken .download_file ,.signingkey .download_file{
    margin-top: 10px;
}
.newtoken .model_btn, .signingkey .model_btn{
    float: initial;
    text-align: center;
}
.signingkey .copy,.newtoken .copy{
  
    float: right;
    margin-top: -33px;
    border: none;
    background: none;
}

.newwebhook_model .main{
    width: 500px;
    border: none;
    margin: 100px auto;
    
}
.newwebhook_model .model_input{
    
    margin-right: 20px;
}

.newkey .up,.newwebhook_model .up,.accesstoken_model .up,.newstream .up{
    position: absolute;
    margin-top: 9px;
    margin-left: -25px;
        border: none;
        background: none;
  
}

.newwebhook_model .access_token_link{
    font-size: x-small;
    color: #4a5057;
    margin-top: 12px;
}
.newwebhook_model .model_btn{
  float: right;
}
.newkey .main,.newstream .main{
    width: 500px;
    border: none;
    margin: 100px auto;
    
}
.newwebhook_model .development , .newkey .development , .accesstoken_model .development,.newstream .development{
    -webkit-appearance: none;   
}
.newkey .select ,.newwebhook_model .select , .accesstoken_model .select, .newstream .select{
    position: relative;
    width: 100%;
    float: left;
    font-family:Inter-Regular;
    font-size: 14px;
    color: #212b36;
  
}



.newkey .file ,.newwebhook_model .file , .accesstoken_model .file,.newstream .file{
    margin-top: 9px;
        position: absolute;
        left: 0;
        padding-left: 27px;
}
.newkey .development , .newwebhook_model .development ,.accesstoken_model .development{
    padding-left: 30px;
}




.newkey .access_token_link{
    font-size: x-small;
}
.newkey .model_btn{
  margin-right: 10px;
}
.unlockpremiumfeatures .model_title{
    float: initial;
    text-align: center;
}
.unlockpremiumfeatures p{
    float: initial;
    text-align: center;
    font-size: 15px;
    margin: 0px;
}
.unlockpremiumfeatures .model_btn{
    float: initial;
    text-align: center;
}
.unlockpremiumfeatures .model_save_btn{
    padding: 5px 30px;
}


 .newstream .premiumfeatures{
    display: block;
    width: calc(100% - 40px);
    height: 344px;
    margin-left: 20px;
    border: solid 1px  rgba(99, 115, 129, 0.3);
    background-color: white;
    overflow-x: auto;
     
 }
 .newstream .main{
    width: 500px;
    border: none;
    margin:  auto;
    
}
.newstream .premiumfeatures p{
    border-bottom: 1px solid #ccc;
    width: 100%;
    float: left;
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 10px;
    margin: 0px;
}
.newstream .premiumfeatures p:last-child{
    border-bottom: none;
}

.newstream .premiumfeatures .select{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;

}
 

.enablepremiumfeatures .model_main{
    margin: auto;
    margin-top: 100px;
}
.enablepremiumfeatures .model_nav p{
    float: left;
    padding-left: 20px;
    padding-right: 25px;
    font-size: 14px;
}
.enablepremiumfeatures .newstream{
    margin-top: 15px;
    width: 100%;
    float: left;
}
.activities .model_nav{
 border: none;
}
.activities {
    width: 100%;
    height: 100vh;
    float: left;
    display: table;
    background-color: gray;
}
.activities .main{
    border: 1px solid #ccc;
    display: block;
    width: 600px;
    margin: auto; 
    margin-top: 10em;
    background-color: #f4f6f8;
    padding: 20px;
}
.activities .nav{
    width: 100%;
    text-align: left;
}

.activities .nav .model_close{
    float: right;
    /* margin-top: -40px;
    margin-right: 13px; */
    
}
.activities .nav .model_close img{
    width: 15px;
    position: relative;
    top: -30px
}
.activities_events_logs_table{
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    border-collapse: collapse;
    color: #212b36;
    word-break: break-all;
}
.activities_events_logs_table tbody{
    background-color: white;
}
.activities_events_logs_table thead tr{
    height: 40px;
}
.activities_events_logs_table thead tr th{
    font-family: Inter-Medium;

}
.activities_events_logs_table tbody tr{
    border-bottom: 1px solid #ecedef;
}
.activities_events_logs_table tbody tr td{
    font-family: Inter-Regular;
    padding: 0px 5px;
}

@media (min-width: 280px)  and (max-width:510px){


 .model_main{
     width: calc(100% - 20px);
 }
 .model_main .model_title{
     font-size: 15px;
 }
 .model_data{
     font-size: 12px;
 }
 .newtoken .main, .signingkey .main,.newkey .main {
     width: 100%;
 }
.newwebhook_model .main{
    width: 100%;
}
.accesstoken_model .main{
    width: 100%;
    margin-top: 4rem;
}
.editpaymentdetials .main{
    width: 100%;
}


 .remove_user_modal .model_main{
    margin-top: 28vh;
 
}
.enablepremiumfeatures .model_nav p{
    font-size: 10px;
}
.enablepremiumfeatures .model_main{
    margin-top: 50px;
}
.enablepremiumfeatures .newstream .model_label{
    font-size: 14px;
} 
.enablepremiumfeatures .newstream p{
    font-size: 12px;
}

}

@media (min-width: 768px)  {

.paymenthistory .model{
   padding: 200px;

}

.newtoken .main, .newwebhook_model .main,.signingkey .main{
    margin-top: 24vh;
}
.newwebhook_model .body,.accesstoken_model .body{
    padding: 5vh;
} 
.accesstoken_model .main{
    margin-top: 13rem;
}
.unlockpremiumfeatures .main{
    padding-top: 14em;
}
.enablepremiumfeatures .model_main{
    margin-top: 78px;
}
 

}

@media (min-width: 1024px)  {
     .paymenthistory .model{
         padding: 300px;
     }
    .newkey .main{
        margin-top: 37vh;
    }   
  
    
     .newtoken .body,.signingkey .body{
         padding: 5vh;
     }
     .newtoken .main, .signingkey .main{
         margin-top: 24vh;
     }
     .unlockpremiumfeatures .main{
         padding: 12em;
     }
     .enablepremiumfeatures .model_main{
         margin-top: 61px;
     }
   
}
@media (min-width:1201px) {
    
    .remove_user_modal {
        padding: 0vh;
    }
    .accesstoken_model .body{
        padding: 5vh;
        
    }
    .accesstoken_model .main{
        margin-top: 16vh;
    }
    .enablepremiumfeatures .model_main{
        margin-top: 69px;
    }
}
@media (min-width:1400px) {
    .enablepremiumfeatures .model_main{
        margin-top: 100px;
    }
    
}