
.containercomponents{
    background-color:  #333740;
    width: 205px;
    box-sizing: border-box;
    color: white;
    /* padding: 5px;   */
    float: left;
    position: fixed;
    height: 100%;
}
.containercomponents h2{
    color: white;
    text-align: center;
    padding: 0px 20px 20px;
}
.containercomponents .uppercomponents ul li{
    padding: 1em 20px;
    font-family: Inter-Medium;
    font-size: 14px;
    list-style: none;
    color: #8798ac;  
}

.logout:hover{
    color:white;
}
.containercomponents .uppercomponents ul li img{
    padding-right:10px;
    position: relative;
    top: 3.2px;
}

.containercomponents .uppercomponents ul li a{
    padding-left: 15px;
}
.containercomponents .uppercomponents ul{
    padding-inline-start: 0px;
}
.uppercomponents{
    margin-bottom: 6em;
}
/* .uppercomponents ul li ul {
    display: none;
} */
.tools{
    padding-right:0px ;
    cursor: pointer;
    background-color: transparent;
}
.tools ul li{
    padding: 10px!important;
   
}
.tools ul li a{
    padding-left: 30px!important;
    font-size: 12px;
}
.activate{
    color:white !important;
}
/* .tools:hover{    
    background-color: #202227;
} */
.active_links{
    background-color: #00000041;
    color: white;
    padding-right:0px ;
    cursor: pointer;
}

.tools:hover .list_heading{
    color: white;
}

/* .tools:hover .list{
    display: block;
} */
.list{
    padding-top: 15px;
}
.list a:hover{
    color: white;
}
.tools:hover .uppercomponents{
    margin-bottom: 0em;
}


/*lowercomponents*/
.containercomponents .lowercomponents ul{
    padding-inline-start: 0px;
}
.containercomponents .lowercomponents ul li{
    padding: 1em 20px;
    font-family: 'Inter-Medium';
    font-size: 14px;
    list-style: none;
    color: #8798ac;
    position: relative;
} 
.containercomponents .lowercomponents ul li img{
    padding-right:10px;
    position: relative;
    top: 3.2px;
} 

.containercomponents .lowercomponents ul li a{
    padding-left: 15px;
} 
.containercomponents .lowercomponents ul li p{
    position: absolute;
    left: 55px;
    top: 9px;
    width: 100%;
    margin: 0;
    color: #8798ac;
}
.lowercomponents{
    margin-bottom: 30px;
}
.lowercomponents ul li .user_detail{
   padding-left: 10px;
}

.settings {
   padding:40px 5% ;
   /* width: 87%;
   float: right;  */
}
.settings .padding{
    padding-left: 205px;
   
}

.settings .header  h2{
    float: left;
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 28px;
} 
.settings .header  h3{
    float: right;
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 20px;
}
.settings .topnav ul li a{
    color: #56606e;
}


.settings .general{
    margin: 0em 0em 2em 0em;
} 
.settings .general{
    color: #56606e;
}
 .settings .general h3{
    margin-bottom:1em ;
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 22px;
} 
.general label{
    display: block;
    font-family: Inter-Regular;
    font-size: 14px;
    color: #212b36;
}
.settings .general .edit{
   width: 40%;
   float: left;
   background-color: #fff;
   border: solid 1px rgba(99, 115, 129, 0.3);
    height: 50px;
    padding: 10px 10px 10px 10px;
    margin: 5px 0px;
    border-radius: 5px;
}
.settings .general img{
    padding-right: 5px;
    cursor: pointer;
}
.settings .general .edit span{
    float: right;
    cursor: pointer;
}
.settings div ul{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    width: 100%;
    float: left;
    border-bottom: 1px solid #00000026;
    margin-bottom: 0;
    
}

  
    

.topnav ul li.active{
    padding-bottom: 4px;
    border-bottom: 2px solid  #2863eb;   
}

.topnav ul li a.active1{
    color: black;
}



.settings div ul li{
    float: left;
    margin-right: 20px;
}

.settings .general span a{
    color: #2863eb;
}
.settings .members{
    width: 100%;
    float: left;
}
.settings .members h3{
    float:left;
    color:#212b36;
    margin-bottom: 15px;
    font-size: 22px;
    font-family: Inter-Medium;
}
.settings .members button{
    float:right;
    color:  #2863eb;
    border-color:  #2863eb;
    border-radius: 4px;
    margin-top:5px;
    cursor: pointer;
    background-color:#f4f6f8;
    padding: 2px 10px;
    font-size: 14px;
    font-family: Inter-Medium;
}
.settings .member_table{
    width: 100%;
    float: left;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);  
}
.member_table table{
    border-spacing: 0px 0px;
    border-collapse: collapse;
    border-radius: 2px;
    text-align: left;
    width: 100%;
}
.member_table table{
    word-break: break-all;
}
.member_table table thead{
    background-color: #f4f5f7;
}
.member_table table tr th{
    padding:10px 13px 10px 5px;
    color:  #212b36;
    font-size: 14px;
    font-family: Inter-Medium;

    
}
 .member_table table tbody{
    background-color: white;
    margin: 25px 0px;
    border: none;
    padding: 0px;
    font-family: Inter-Regular;
    font-size: 14px;
   
}
.settings .member_table table thead tr{
    border-bottom:1px solid #ecedef;

}
.settings .member_table tbody tr td{
    color:  #212b36;
    font-size: 14px;
    padding:10px 16px 10px 5px;
  
}
.settings .member_table tbody tr td img{
    margin-left: 7px;
    cursor: pointer;
}
.settings .member_table tbody tr td select {
    color:  #212b36;
}

.settings .member_table tbody tr{
    border-bottom:1px solid #ecedef;

}
.settings .member_table tbody tr td a{
    color:  #2863eb;
    text-decoration:underline;
}


.settings .member_table tbody tr td select{
    border:none;
  
}
/* environments */
.environments_button{
    width: 100%;
    float: left;
    margin-top:40px;
}
.environments_button p{
    width: 80%;
    float: left;
}
.environments_button button{
    float: right;
    color:  #2863eb;
    border-color:  #2863eb;
    border-radius: 4px;
    margin-top:5px;
    cursor: pointer;
    background-color:#f4f6f8;
    padding: 5px 10px;
    font-size: 14px;
    font-family: Inter-Medium;
}
.environments_table{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.environments_table table{
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);  
    border-collapse: collapse;
}
.environments_table table thead th {
    border-bottom: 1px solid #e3e3e3;
    background-color: #f4f5f7;
    border-collapse: collapse;
    font-family: Inter-Medium;
    font-size: 14px;
    padding: 10px 5px;
}
.environments_table tbody{
    background-color: white;
}
/* .environments_table tbody tr{
    border-bottom: 1px solid black;
} */
.environments_table tbody tr td{
    padding: 15px;
    width: 30%;
}
.side_head{
    color: #6e6e6e;
    font-size: 14px;
    font-family: Inter-Regular;
}
.table_box{
    width: 100%;
    float: left;
    border: 1px solid #e0e0e0;
    background-color: #f6f8fe;
    padding: 5%;
}
.box_content{
    width: 100%;
    float: left;
}
.box_content_history{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: Inter-Italic;
}
.edit_img{
    position: relative;
    left: 5px;
}
.box_data{
    width: 100%;
    float: left;
}
.box_data_types{
    width: 33%;
    float: left;
}
.types_heading{
    font-size: 12px;
    font-family: Inter-Regular;
    color: #808080;
}
.types_value{
    font-size: 14px;
    font-family: Inter-Regular;
    color: #212b36;
}
.token_key_value{
    width: 100%;
    float: left;
    margin-top: 20px;
    font-family: Inter-Regular;
    font-size: 14px;
    color: #212b36;
}
.content_head{
    width: 100%;
    float: left;
    margin-bottom: 5px;
    font-family: Inter-Regular;
    font-size: 14px;
    color: #212b36;
}
.content_body{
    font-family: Inter-Regular;
    font-size: 12px;
    color: #868686;
    word-break: break-all;
}
.content_footer{
    font-size: 14px;
    font-family: Inter-Regular;
    color:  #212b36;
}
.dev_head{
    padding: 5px 5px;
    width: 70%;
    float: left;
    border: 1px solid rgba(198, 198, 198, 0.63);
    margin-bottom: 10px;
    color: #212b36;
    font-family: Inter-Regular;
    font-size: 16px;
    outline: none;
}
/* .dev_select{
    width: 100%;
    float: left;
} */
.dev_select select{
    padding: 5px 0px;
    width: 70%;
    border: solid 1px rgba(198, 198, 198, 0.63);
    color: #212b36;
    font-size: 14px;
    font-family: Inter-Regular;
    outline: none;
}
.dev_options{
    width:70%;
    float: left;
    margin-top: 5px;
}
.dev_Cancel{
    cursor: pointer;
    float: left;
    text-decoration: underline;
    color: #848484;
    font-size: 14px;
    font-family: Inter-Regular;
    
}
.dev_save{
    cursor: pointer;
    float: right;
    color: #2863eb;
    text-decoration: underline;
    font-size: 14px;
    font-family: Inter-Regular;
    border: none;
    background-color: inherit
}


/*-------------Media queries of organisation----------*/

@media screen and (max-width:1024px){
    /* .containercomponents{
        width:20%;
    } */
    /* .containercomponents .lowercomponents ul li{
        padding: 10px 10px;
    }
    .containercomponents .lowercomponents {
        margin-bottom: 32px;
    }
    .containercomponents .lowercomponents ul li p{
        left:45px;
    }
    .containercomponents .uppercomponents {
        margin-bottom:13rem;

    }
    .containercomponents .uppercomponents ul li{
        padding: 10px 10px;
       

    } */
    /* .settings {
        padding: 30px 34px;
        width: 80%;
    } */
    .settings {
        padding:40px 3% ;
        /* width: 87%;
        float: right;  */
     }
}

@media screen and (max-width:768px){
    /* .containercomponents{
        width:23%;
    } */
    .containercomponents .uppercomponents {
        margin-bottom:6rem;

    }
    /* .containercomponents .lowercomponents ul li{
        padding: 8px 2px;
    } */
    /* .containercomponents .lowercomponents ul li p{
        left:34px;
    } */
    /* .containercomponents .uppercomponents ul li{
        padding: 8px 2px;

    } */
    /* .settings {
        padding: 30px 34px;
        width: 77%;
    } */
    .member_table table tr th{
        padding: 10px 6px 10px 5px;
    }
    .settings .member_table tbody tr td{
        font-size: 14px;
    }
    .settings {
        padding:40px 2% ;
        /* width: 87%;
        float: right;  */
     }
}

