
.containercomponents{
    background-color:  #333740;
    width: 205px;
    box-sizing: border-box;
    color: white;
    /* padding: 5px;   */
    float: left;
    position: fixed;
    height: 100%;
    
}
.containercomponents h2{
    color: white;
    text-align: center;
    padding: 0px 20px 20px;
}
.containercomponents .uppercomponents ul li{
    padding: 1em 20px;
    font-family: Inter-Medium;
    font-size: 14px;
    list-style: none;
    color: #8798ac;
}


.containercomponents .uppercomponents ul li img{
    padding-right:10px;
}

.containercomponents .uppercomponents ul li a{
    padding-left: 15px;
   
}
.containercomponents .uppercomponents ul{
    padding-inline-start: 0px;
}
.uppercomponents{
    margin-bottom: 6em;
}
.uppercomponents ul li ul {
    display: none;
}
.tools{
    padding-right:0px ;
}
.tools ul li{
    padding: 10px!important;
   
}
.tools ul li a{
    padding-left: 30px!important;
    font-size: 12px;
}
.tools:hover{
    background-color: #202227;
}

.tools:hover .list_heading{
    color: white;
}
.tools:hover .list{
    display: block;
}
.list a:hover{
    color: white;
}
.tools:hover .uppercomponents{
    margin-bottom: 0em;
}

/*lowercomponents*/
.containercomponents .lowercomponents ul{
    padding-inline-start: 0px;
}
.containercomponents .lowercomponents ul li{
    padding: 1em 20px;
    font-family: 'Inter-Medium';
    font-size: 14px;
    list-style: none;
    color: #8798ac;
    position: relative;
} 
.containercomponents .lowercomponents ul li img{
    padding-right:10px;
} 

.containercomponents .lowercomponents ul li a{
    padding-left: 15px;
} 
.containercomponents .lowercomponents ul li p{
    position: absolute;
    left: 53px;
    top: 0px;
    width: 100%;
    margin: 0;
    color: #8798ac;
    padding-left: 10px;
}
.lowercomponents{
    margin-bottom: 30px;
}

.stream_Monitor {
    padding:40px 5% ;
    /* width: 87%;
    float: right;  */
}
 .stream_Monitor .padding{
    padding-left: 205px;
}
.stream_Monitor .header{
    float: left;
    width: 100%;
    margin-bottom:20px ;
}

.stream_Monitor .header  h2{
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 28px;

} 
.stream_Monitor .stream_details{
    width: 100%;
    float: left;
}
.stream_details a img{
    width:25px;
    float: right;
    position: relative;
    top:6px;
    left:2em;
    
}
.stream_Monitor .stream_details p{
    width: 50%;
    float: left;
    color: #4a5057;
}
.stream_Monitor .stream_details button{
    width: 17%;
    float: right;
    color:  #2863eb;
    border-color:  #2863eb;
    border-radius: 4px;
    font-family: Inter-Medium;
    background-color: inherit;
    text-align: right;
    
}
/*------------------------------------------------------------------------------------------------------*/

/*-------------Media queries of organisation----------*/
@media screen and (max-width:1200px) {
    .stream_Monitor .stream_details button{
        width: 22%;
    }
}
@media screen and (max-width:1024px){
    /* .containercomponents{
        width:20%;
    }
    .containercomponents .lowercomponents ul li{
        padding: 10px 10px;
    }
    .containercomponents .lowercomponents {
        margin-bottom: 32px;
    }
    .containercomponents .uppercomponents {
        margin-bottom:6rem;

    }
    .containercomponents .uppercomponents ul li{
        padding: 10px 10px;
       

    }
    .settings {
        padding: 30px 34px;
        width: 80%;
    } */
    .stream_Monitor .stream_details button{
        width: 28%;
    }
    .stream_Monitor{
        padding:40px 3% ;
    }
}

@media screen and (max-width:768px){
    /* .containercomponents{
        width:23%;
    } */
    .containercomponents .uppercomponents {
        margin-bottom:6rem;

    }
    /* .containercomponents .lowercomponents ul li{
        padding: 8px 2px;
    }
    .containercomponents .uppercomponents ul li{
        padding: 8px 2px;

    }
    .settings {
        padding: 30px 34px;
        width: 77%;
    } */
    .member_table table tr th{
        padding: 10px 6px 10px 5px;
    }
    .settings .member_table tbody tr td{
        font-size: 14px;
    }
    .stream_Monitor .stream_details button{
        width: 33%;
    }
    .stream_Monitor{
        padding:40px 2% ;
    }
}

