.containercomponents{
    background-color:  #333740;
    width: 15%;
    box-sizing: border-box;
    color: white;
    /* padding: 5px;   */
    float: left;
    position: fixed;
    height: 100%;
    
    
}
.containercomponents h2{
    color: white;
    text-align: center;
    padding: 0px 20px 20px;
}
.containercomponents .uppercomponents ul li{
    padding: 1em 20px;
    font-family: Inter-Medium;
    font-size: 14px;
    list-style: none;
    color: #8798ac;
}


.containercomponents .uppercomponents ul li img{
    padding-right:10px;
}

.containercomponents .uppercomponents ul li a{
    padding-left: 15px;
   
}
.containercomponents .uppercomponents ul{
    padding-inline-start: 0px;
}
.uppercomponents{
    margin-bottom: 6em;
}
.uppercomponents ul li ul {
    display: none;
}
.tools{
    padding-right:0px ;
}
.tools ul li{
    padding: 10px!important;
   
}
.tools ul li a{
    padding-left: 30px!important;
    font-size: 12px;
}
.tools:hover{
    background-color: #202227;
}

.tools:hover .list_heading{
    color: white;
}
.tools:hover .list{
    display: block;
}
.list a:hover{
    color: white;
}
.tools:hover .uppercomponents{
    margin-bottom: 0em;
}

/*lowercomponents*/
.containercomponents .lowercomponents ul{
    padding-inline-start: 0px;
}
.containercomponents .lowercomponents ul li{
    padding: 1em 20px;
    font-family:Inter-Medium;
    font-size: 14px;
    list-style: none;
    color: #8798ac;
    position: relative;
} 
.containercomponents .lowercomponents ul li img{
    padding-right:10px;
} 

.containercomponents .lowercomponents ul li a{
    padding-left: 15px;
} 
.containercomponents .lowercomponents ul li p{
    position: absolute;
    left: 53px;
    top: 0px;
    width: 100%;
    margin: 0;
    color: #8798ac;
    padding-left: 10px;
}
.lowercomponents{
    margin-bottom: 30px;
}
.stream_statistics{
    padding: 50px 5%;
}
.padding{
    padding-left: 205px;
}
.stream_list a{
    text-decoration: underline;
    font-family: Inter-Regular;
}
.stream_statistics .stream_list p{
    display: inline;
    font-size: 14px;
}
.stream_statistics .header{
    float: left;
    width: 100%;
    margin-bottom:20px ;
}


.stream_statistics .header  h2{
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 28px;

} 

.stream_statistics .stream_url_check{
    width: 45%;
    float: left;
}
.stream_url_check .stream_url{
    float: left;
    width: 60%;
}
.stream_url span{
    background-color: white;
    padding: 5px;
    font-family: Inter-Regular;
    font-size: 14px;
}
.stream_url_check .stream_check{
    float: right;
    width: 40%;
    font-size: 14px;
}
.stream_url_check .stream_check h4{
    font-family: Inter-Medium;
    font-size: 14px;
}
.stream_check select{
    border: 1px solid #999;
    padding: 4px;
    border-radius:4px ;
    font-family: Inter-Regular;
    outline: none;
    font-size: 14px;
}

.functional_buttons{
    float: right;
    display: flex;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 14px;
}
.functional_buttons button{
    color:  #2863eb;
    border-color:  #2863eb;
    border-radius: 4px;
    font-family: Inter-Medium;
    background-color: inherit;
    text-align: right;
   

}
.actions button,.delete_stream button{
    color: #999;
    border-color: #999;
    margin-left: 10px;
}
/* .delete_stream button{
    color: #999;
    border-color: #999;
    margin-left: 10px;
} */
.margin_bottom{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.border_bottom{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border-bottom:1px solid #d5dbe2;
}
.Utime_check{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.Utime_check .uptime_header{
    width: 60%;
    float: left;
}
.uptime_header h3{
    color: #212b36;
    font-family: Inter-SemiBold;
    font-size: 22px;
}
.uptime_header h3 span{
    font-weight: lighter;
    color: #4a5057;
    font-size: 14px;
    font-family: Inter-Regular;
}

.Preview{
    /* width: 30%; */
    float: right;
    display: flex;
}
.image_preview{
    margin-right: 10px;
    padding: 7px 5px;
    height: 31px;
    margin-top: 24px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 4px;
    font-family: Inter-Regular;  
    font-size: 12px;
}
 .image_preview  .input{
    position: relative;
    width: 20px;
    height: 10px;
    -webkit-appearance: none;
    background: grey;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;


}
 .image_preview .input:checked{
    background-color: #03a9f4;
}
 .image_preview .input::before{
    content: '';
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius:20px ;
    top:0;
    left:0;
    background:#fff;
    transform:scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}
 .image_preview .input:checked::before{
    left:10px ;
}
.time_line label{
    display: inherit;
    margin-top: 9px;
    color: #4a5057;
    font-size: 10px;
}
 .time_line select{
    border-radius: 4px;
    padding: 5px;
    outline: none;
    font-family: Inter-Regular;
    color: #212b36;
    background-color: white;
    border: solid 1px rgba(99, 115, 129, 0.3);
    margin:5px 0px 10px;
    font-size: 12px;
}

.scte{
    width: 100%;
    float: left;
    margin-bottom: 1em;
}
.scte_header{
    width: 100%;
    float: left;
}
.scte_header h3{
    color: #212b36;
    font-family: Inter-SemiBold;
    font-size: 22px;
}
.scte_header h3 span{
    font-weight: lighter;
    color: #4a5057;
    font-size: 14px;
    font-family: Inter-Regular;
}
.scte_markers{
    width: 100%;
    float: left;
    height: 200px;
    background-color: white;
    /* border: 1px solid black; */
}
.scte_markers .text_align{
    text-align: center;
    margin-top: 3em;
    font-family: Inter-Regular;
    font-size: 14px;
}
.scte_markers .text_align h4{
    font-size: 16px;
}
.master_manifest{
    width:100%;
    float: left;
    margin-bottom: 1em;
}
.master_manifest_header{
    width: 100%;
    float: left;
}
.master_manifest_header h3{
    color: #212b36;
    font-family: Inter-SemiBold;
    font-size: 22px;
}
.master_manifest_header span{
    font-weight: lighter;
    font-size: 14px;
    color: #4a5057;
    font-family: Inter-Regular;
}
.master_manifest table{
    /* border:1px solid black; */
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);  
  
    
}
/* .master_manifest table thead{
    border-bottom:1px solid black ;
} */
.master_manifest table thead tr{
    height: 3em;
    font-family: Inter-Medium;
    font-size: 14px;
}
.master_manifest table thead tr th{
    text-align: left;
    padding: 0px 5px;
    color: #212b36;
    font-size: 14px;
}
.master_manifest table tbody{
    background-color: white;
}
.master_manifest table tbody tr{
    height: 3em;
}
.master_manifest table tbody tr td{
    text-align: left;
    padding: 0px 5px;
    font-family: Inter-Regular;
    font-size: 14px;
}
.child_manifest{
    width:100%;
    float:left;
    margin-bottom: 1em;
}
.child_manifest_header{
    float:left;
    width: 100%;
}
.child_manifest_header h3{
    color: #212b36;
    font-family: Inter-SemiBold;
    font-size: 22px;
}

.child_manifest_header h3 span{
    font-weight: lighter;
    font-size: 14px;
    color: #4a5057;
    font-family: Inter-Regular;
}
.child_manifest table{
    /* border: 1px solid black; */
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);  
    word-break: break-all;
    
}
.child_manifest table thead tr{
    height: 2em;
    font-family: Inter-Medium;
    font-size: 14px;
}
.child_manifest table thead tr th{
    padding: 0px 5px;
    color: #212b36;
    text-align: center;
    font-size: 14px;
}
.child_manifest table tbody tr{
    height: 2em;
    background-color: white;
    border-bottom:1px solid #ecedef;
}
.child_manifest table tbody tr td{
    padding:0px 5px;
    text-align: center;
    font-family: Inter-Regular;
    font-size: 14px;
}
.child_manifest table tbody tr td a{
    color: #2863eb;
    text-decoration: underline;
}
.stream_info:hover{
    width: 27px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    border-radius: 50%;
    height: 26px;
    padding: 2px;
}
.stream_info_table{
    position: absolute;
    width: 400px !important;
    right: 40px;
    visibility: hidden;
    
}
.stream_info_table thead tr .Video{
    border-right: 1px solid #ecedef;
}
.stream_info_table tbody tr .table_Video{
    border-right: 1px solid #ecedef;
}
.stream_info:hover .stream_info_table{
    visibility: visible;
}
.track_pts{
    width: 100%;
    float: left;
    margin-bottom: 1em;
}
.track_pts_header{
    width:100%;
    float:left;
}
.track_pts_header h3{
    color: #212b36;
    font-family: Inter-SemiBold;
    font-size: 22px;
}
.track_pts_header h3 span{
    font-weight: lighter;
    font-size: 14px;
    color: #4a5057;
    font-family: Inter-Regular;
}
.timestamp{
    width: 100%;
    float: left;
    height: 12em;
    background-color: white;
    /* border:1px solid black */
}
.timestamp .timestamp_details{
    text-align: center;
    margin-top: 3em;
    font-family: Inter-Regular;
}
.timestamp_details h4{
    font-size: 16px;
}
.timestamp_details p{
    font-size: 14px;
    margin-bottom: 4px;
}
.geo_locations{
    width: 100%;
    float: left;
}
.geo_loacations_header{
    width: 50%;
    float: left;
    margin-top: 10px;
}
.geo_loacations_header h3{
    color: #212b36;
    font-family: Inter-SemiBold;
}
.geo_loacations_header h3 span{
    font-weight: lighter;
    font-size: 16px;
    color: #4a5057;
    font-family: Inter-Regular;
}
.select_loaction{
  /* width: 50%; */
  float: right;
  
}
.select_loaction label{
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-family: Inter-Regular;
    font-size: 10px;
}
.select_loaction select{
    padding: 5px 20px 5px 5px;
    margin-bottom: 15px;
    font-family: Inter-Regular;
    outline: none;
    font-size: 12px;
}
.geo_locations table{
    width: 100%;
    /* border:1px solid black; */
    border-collapse: collapse;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}
.geo_locations table thead tr{
    height: 3em;
    text-align: left;
    padding: 0px 20px;
    font-family: Inter-Medium;
    font-size: 14px;
}
.geo_locations table thead tr td{
    padding: 0px 5px;
    color: #212b36;
    font-size: 14px;
}
.geo_locations table tbody tr{
    background-color: white;
}
.geo_locations table tbody tr td{
    padding: 0px 5px;
}
.geo_locations table tbody tr td{
    padding: 10px 5px;
    font-family: Inter-Regular;
    font-size: 14px;
}
.alert_box{
    width: 25px;
}
.alert:hover{
    width:25px;
    height:25px;
    padding: 2px 2px 2px 2px;
    background-color: #e8e8e8;
    border-radius:50% ;
    margin: 0px;
}
.alert:hover .alert_box{
    visibility: visible;
}
.alert_box{
  position: absolute;
  right: 250px;
  width: 350px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #d6d6d6;
  background-color: #fff;
  visibility: hidden;
  font-size: 12px;
  font-family: Inter-Regular;
}
.copyurl{
    border: 1px solid #fff;
    background-color: white;
    width: 91%;
    float: left;
    padding:5px;
}
.copyurl img{
    float:right;
    width: 15px;
}
.actions,.delete_stream ,.premium_features{
    position: relative;
    float: left;
    font-family:Inter-Regular;
    font-size: 14px;
    color: #212b36;
}
.actions img,.delete_stream img, .premium_features img{
    position: absolute;
    right: 0;
    left: 15px;
    margin-top: 12px;
    width: 12px;
}
.actions button ,.delete_stream button{
    padding-left: 22px;
    font-size: 14px;
}
.premium_features button{
    padding-left: 36px;
    font-size: 14px;
}
.premium_features img{
    width: 20px;
}
.header{
    position: relative;
}
.header img{
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
}
.header h2{
    padding-left: 34px;
}
.scte_markers a,.track_pts a{
    text-decoration: underline;
    color: #2863eb;
    font-size: 14px;
}
.timestamp_details span{
    color: #4a5057;
    font-family: Inter-Regular;
    font-size: 14px;
}
.stream_url_check .stream_url h4{
    font-family: Inter-Medium;
    font-size: 14px;
}
.copyurl h4{
    font-family: Inter-Regular;
    word-break: break-word;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
.copyurl img{
    margin-top: -19px;
    margin-right: -3px;

}
/*------------------------------------------------------------------------------------------------------*/
.streamenable .functional_buttons button{
    color:#999;
    border-color: #999;
    font-size: 14px;
}
.streamenable .scte_header{
    width: 60%;
    float: left;
    padding-top: 19px;
}
.streamenable .Preview label{
    margin-top: 0px;
}
.streamenable .time_line{
    float: right;
}
.streamenable .track_pts_header{
    width:60%;
    float:left;
    padding-top:20px ;
}
.streamenable .track_pts table{
    width: 100%;
    /* border:1px solid black; */
    border-collapse: collapse;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
}
.streamenable .track_pts table thead tr{
    height: 3em;
    text-align: left;
    padding: 0px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    font-family: Inter-Medium;
    font-size: 14px;  
    
}
.streamenable .track_pts table thead tr td{
    padding: 0px 5px;
    color: #212b36;
    font-size: 14px;
}
.streamenable .track_pts table tbody tr{
    background-color: white;
    font-family: Inter-Regular;
    font-size: 14px;
}
.streamenable .track_pts table tbody tr td{
    padding: 10px 5px;
}

/* statisticsunlockpremium */
.statistics_unlockpremium .timestamp .timestamp_details{
    text-align: center;
    margin-top: 1em;
}
.statistics_unlockpremium .timestamp .timestamp_details img, .statistics_unlockpremium .scte_markers .text_align img{
    vertical-align: middle;
}
.statistics_unlockpremium .premium_features img{
    width: 12px;
    margin-top: 10px;
}
.pts_background{
    display: inline;
}
.pts_background img{
    padding: 3px;
}
.pts_background:hover .error_alert{
    display: block;
}
.pts_background img:hover{
    background-color:#e8e8e8;
    border-radius: 50%;
}
.background img{
    padding: 5px;
}
.background img:hover{
    background-color: #e8e8e8;
    border-radius: 50%; 
    
}
.background:hover .error_alert{
    display: block;
}
.error_alert{
    width: 20em;
    color: black;
    border-radius: 2px;
    margin: 6px 0 0;
    padding: 10px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #d6d6d6;
    background-color: #fff;
    position:absolute;
    z-index: 99;
    display:none;
    text-align: left;
    font-family: Inter-Regular;
    font-size: 12px;
}
.pts img{
    padding-left: 2px;
    vertical-align: middle;
}
/*-------------Media queries of organisation----------*/
@media screen and (max-width:1200px) {
    .stream_statistics .stream_details button{
        width: 22%;
    }
}
@media screen and (max-width:1024px){
    .containercomponents{
        width:20%;
    }
    .containercomponents .lowercomponents ul li{
        padding: 10px 10px;
    }
    .containercomponents .lowercomponents {
        margin-bottom: 32px;
    }
    .containercomponents .uppercomponents {
        margin-bottom:6rem;

    }
    .containercomponents .uppercomponents ul li{
        padding: 10px 10px;
       

    }
    .settings {
        padding: 30px 34px;
        width: 80%;
    }
    .stream_statistics .stream_details button{
        width: 28%;
    }
    .stream_info_table{
        right:20px
    }
    .stream_statistics .stream_url_check{
        width: 100%;
    }
    .functional_buttons{
        width: 100%;
        padding-left: 5em;
    }
}

@media screen and (max-width:768px){
    .containercomponents{
        width:23%;
    }
    .containercomponents .uppercomponents {
        margin-bottom:6rem;

    }
    .containercomponents .lowercomponents ul li{
        padding: 8px 2px;
    }
    .containercomponents .uppercomponents ul li{
        padding: 8px 2px;

    }
    .settings {
        padding: 30px 34px;
        width: 77%;
    }
    .member_table table tr th{
        padding: 10px 6px 10px 5px;
    }
    .settings .member_table tbody tr td{
        font-size: 14px;
    }
    .stream_statistics .stream_details button{
        width: 33%;
    }
    .stream_statistics .stream_url_check{
        width: 100%;
    } 
    .functional_buttons{
        width: 100%;
        padding-left: 10px;
    }
} 
@media screen and (max-width:809px) {
    .functional_buttons{
        width: 100%;
        padding-left: 10px;
    }
}
@media screen and (min-width:810px) and (max-width:870px) {
    .functional_buttons{
        width: 100%;
        padding-left: 2em;
    }  
}
    
@media screen and (min-width:1025px) and (max-width:1183px){
    .stream_statistics .stream_url_check{
        width: 37%;
        float: left;
    } 
}