.videos{
        padding: 50px 5%;
       

}
.videos_delivery{
    padding-left: 205px;
}
.videos .header{
    float: left;
    width: 100%;
    margin-bottom:20px ;
}

.videos .header  h2{
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 28px;

} 
.videos .videos_delivery{
    width: 100%;
    float: left;
}
.videos_delivery a{
    width: 50%;
    float: right;
    margin-top: -3em;
}
.videos_delivery a img{
    width:20px;
    float: right;
    position: relative;
    top:6px;
    left:2em;
    
}
.videos .videos_delivery p{
    width: 50%;
    color: #4a5057;
    font-size: 14px;
    margin-bottom: 4px;
}
.videos .videos_delivery button{
    width: 165px;
    float: right;
    color:  #2863eb;
    border-color:  #2863eb;
    border-radius: 4px;
    font-family: Inter-Medium;
    background-color: inherit;
    text-align: right;
    font-size: 14px;
    
}
.videos hr{
      background-color:#d5dbe2;
     margin-top: 20px;
}
.search{
    width: 100%;
    float: left;
    margin-bottom: 1.5em;
}
.search img{
    width:21px;
    float: right;
    position: relative;
    top:1em;
    left: 11.8em;
}
.search input{
    float: right;
    width: 200px;
    height: 40px;
    padding: 10px 65px 10px 10px;
    margin: 5px 0px;
    border: 1px solid #8080804d;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
}
.search .actions{
    padding: 9px;
    outline: none;
    font-family:Inter-Regular;
    color: #212b36;
    background-color: white;
    border: solid 1px rgba(99, 115, 129, 0.3);
    margin: 5px 0px;
    height: 40px;
    font-size: 12px;
}

.videos_table{
    width: 100%;
    float: left;
    padding-left: 205px;
}
.videos_table table{
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 16%);
    border-collapse: collapse;
}
.videos_table table thead tr th{
    text-align: left;
    padding: 5px 10px;
    color:  #212b36;
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 600;
    word-break: break-all;
    font-size: 14px;
}
.videos_table table thead tr th input {
    background-color: inherit;
    
}

.videos_table table tbody{
    background-color: white;
}
.videos_table table tbody tr .check {
    text-align: center;
}
.videos_table table tbody tr td{
    padding: 5px 10px;
    word-break: break-all;
    color: #212b36;
    font-family: Inter-Regular;
    font-size: 14px;
    height: 3em;
    border-bottom: 1px solid #ecedef;
}

.actionicons img{
    margin-right: 5px;
}
.checkcircle{
    width: 10px;
    margin-left: 5px;
    vertical-align: middle;
}
/* videosdelivery_addnewassets */
.model_close{
    color: #d1d1d1; 
 
   cursor: pointer;
   float: right;
   padding: 15px 10px;
   }
.videodelivery{
    width: 100%;
    float: left;
}
.Videodelivery_addnewassets{
        width: 517px;
        background-color: #f4f6f8;
        display: block;
        margin: auto;
        margin-top: 100px; 
          
    
}
.Videodelivery_addnewassets h2{
    font-size: 20px;
    font-family: Inter-Regular;
    padding-right: 10px;
    
}
.upload_btn_wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
  
  color: #2863eb;
      padding: 10px 49px;
      border-radius: 5px;
      font-size: 20px;
      background-color: #fff;
      border: solid 1px #2863eb;
      margin: 0px 20px 20px;
  }
  
  .upload_btn_wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

  }
  .upload_file{
      border: 1px solid #fff;
      background-color: #fff;
      width: 100%;
      float: left;
      font-family:Inter-Regular;
  }
  .upload_file h2{
    font-size: 16px;
    font-family: Inter-Regular;
    padding-right: 10px;
    margin: 20px;  
   }
  
   .post{
    border: 1px solid #fff;
    background-color: #fff;
    width: 100%;
    float: left;
    margin-top: 10px;
}
.model_btn{
    color: #212b36;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff;
    border: solid 1px #212b36;
    margin:10px 0px  10px 20px;
      
}
.post h4{
margin: 20px;
    font-size: 16px;
    font-family:Inter-Regular;

}
.post span{
    margin: 20px;
    font-size: 16px;
    font-family:Inter-Regular; 
}
.post p{
    font-size:12px;
    font-family: Inter-Regular;
    margin-left: 20px;
    background-color:#f4f6f8;
    padding: 10px;
    margin-right: 20px;
}
.code{
    height:200px;
    background-color: #f4f6f8;
    margin: 10px 20px;

}


/*  */
.videosdelivery_assets{
    padding:40px 5% ;
 }
 .videosdelivery_assets .padding{
     padding-left: 205px;
    
 }
 .assets a{
    text-decoration: underline;
    font-family: Inter-Regular;
}
.videosdelivery_assets .assets p{
    display: inline;
    font-size: 14px;
}
.videosdelivery_assets .header  h2{
    color: #212b36;
    font-family: Inter-Medium;
    font-size: 20px;
    padding-left: 18px;
    margin-top: 5px;

} 
.header img{
    position: absolute;
   width: 15px;
   margin-top: 3px;
}